@import "tailwindcss";


html, body,nav, .mobile-menu  {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;

}

.dark html, .dark body, .dark nav, .dark .mobile-menu {
  background-color: #111827; /* тъмно */
  color: #f3f4f6; /* светъл текст */
}

svg {
    stroke:  #111827 !important;

}

.dark svg {
    stroke:  white !important; 
}